<!DOCTYPE html>
<html lang="en">
        <% include ./partials/head %>

	<body class="header-collapse">
		
		<div id="site-content">

            <header class="site-header">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
                <div class="container">
                    <a href="index.html" id="branding" style="color: orange">
                        <i class="fas fa-guitar" > Classic</i>
                    <small class="site-description">`start your music skill right through your door`</small>
                    </a> <!-- #branding -->
                    
                    <nav class="main-navigation">
                    <button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <% if(locals.login) { %>
                        <li class="menu-item"><a href="/">Home</a></li>
                        <li class="menu-item current-menu-item"><a href="/dashboard">DashBoard</a></li>
                        <li class="menu-item"><a href="/session">Session</a></li>
                        <li class="menu-item"><a href="/logout">Logout</a></li>
                        <% } else { %>
                        <li class="menu-item"><a href="/login">Login</a></li>
                        <li class="menu-item"><a href="/register">Sign Up</a></li>
                        <% } %>
                    </ul> <!-- .menu -->
                    </nav> <!-- .main-navigation -->
                    <div class="mobile-menu"></div>
                </div>
            </header> <!-- .site-header -->

			<main class="main-content" style="margin-top:10%">
				<div class="row">
					<div class="container-fluid">
						<div class="col-md-2"></div>
						<div class="col-md-8">
                            <center>
                                <h1>Student Appointment</h1>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Teacher Name</th>
                                            <th>Instrument</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Give Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% schedules.forEach((teacher, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><%= getFullName(teacher.Teacher.first_name, teacher.Teacher.last_name) %></td>
                                            <td><%= teacher.Teacher.instrument %></td>
                                            <td><%= getDate(teacher.date) %></td>
                                            <td><%= teacher.status %></td>
                                            <% if(teacher.status == 'confirmed') { %>
                                                <% if(teacher.teacherRating == false) { %>
                                                    <td>
                                                        <div class="form-group">
                                                            <form action="/dashboard/<%= teacher.id %>/give-rate" method="post" class="form-horizontal">
                                                                <select name="rating" class="form-control col-md-6">
                                                                    <% for(let i = 1; i <= 5; i++) { %>
                                                                        <option value="<%= i %>"><%= i %></option>
                                                                    <% } %>
                                                                </select>
                                                                <button type="submit" class="btn btn-success col-md-6">Rate</button>
                                                            </form>
                                                        </div>
                                                    </td>
                                                <% } else { %>
                                                    <td>rated</td>
                                                <% } %>
                                            <% } else { %>
                                                <td>No Rate</td>
                                            <% } %>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </center>

						<div class="col-md-2"></div>

					</div>
                </div>
            </div>
			</main> <!-- .main-content -->

		<% include ./partials/footer %>

		</div> <!-- #site-content -->

		<% include ./partials/script-js %>

	</body>

</html>