<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% include ./partials/nav-bar.ejs %>
    <table rules="rows" cellpadding="10">
        <thead>
            <tr>
                <th>Id</th>
                <th>Teacher Name</th>
                <th>Instrument</th>
                <th>Date</th>
                <th>Status</th>
                <th>Give Rate</th>
            </tr>
        </thead>
        <tbody>
            <% schedules.forEach((teacher, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= getFullName(teacher.Teacher.first_name, teacher.Teacher.last_name) %></td>
                    <td><%= teacher.Teacher.instrument %></td>
                    <td><%= getDate(teacher.date) %></td>
                    <td><%= teacher.status %></td>
                    <% if(teacher.status == 'confirmed') { %>
                        <% if(teacher.teacherRating == false) { %>
                            <td>
                                <form action="/dashboard/<%= teacher.id %>/give-rate" method="post">
                                    <select name="rating">
                                        <% for(let i = 1; i <= 5; i++) { %>
                                            <option value="<%= i %>"><%= i %></option>
                                        <% } %>
                                    </select>
                                    <button type="submit">Rate</button>
                                </form>
                            </td>
                        <% } else { %>
                            <td>rated</td>
                        <% } %>
                    <% } else { %>
                        <td>No Rate</td>
                    <% } %>
                </tr>
           <% }) %>
        </tbody>
    </table>
</body>
</html>