<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>

<body class="header-collapse">

    <div id="site-content">

        <% include ./partials/header %>

        <main class="main-content" style="margin-top:10%">
            <div class="row">
                <div class="container-fluid">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <center>
                            <h1>The Mentors</h1>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Email</th>
                                        <th>Instrument</th>
                                        <th>Rating</th>
                                        <th>Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <% filtered.forEach(teacher => { %>
                                        <td><%= teacher.getFullName() %></td>
                                        <td><%= teacher.gender %></td>
                                        <td><%= teacher.email %></td>
                                        <td><%= teacher.instrument %></td>
                                        <% if(!teacher.rating){ %>
                                        <td>no review</td>
                                        <% } else { %>
                                        <td><%= teacher.rating %></td>
                                        <% } %>
                                        <td><a href="/session/<%= teacher.id %>">Make appointment</a></td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                            <br>
                            <form method="POST" action="/search">
                                <input type="text" name="tags"><button type="submit">Search</button>
                            </form>
                        </center>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </main> <!-- .main-content -->

        <% include ./partials/footer %>

    </div> <!-- #site-content -->

    <% include ./partials/script-js %>

</body>

</html>