<!DOCTYPE html>
<html lang="en">
        <% include ./partials/head %>

	<body class="header-collapse">

		<div id="site-content">

        <% include ./partials/header %>

		

			<main class="main-content" style="margin-top: 10%">
				<div class="row">
					<div class="container-fluid">
						<div class="col-md-4"></div>
						<div class="col-md-4">
                            <center>
                                <h1>Book Teacher</h1>
								<form action="/session/<%= teacher.id  %>" method="POST" class="form-horizontal">
									<div class="form-group">
										<label for="name" class="control-label">Name</label>
										<input type="text" name="name" value="<%= teacher.getFullName()%>" class="form-control" disabled>
									</div>
									<div class="form-group">
										<label for="gender" class="control-label">Gender</label>
										<input type="text" name="gender" value="<%= teacher.gender %>" class="form-control" disabled>
									</div>
									<div class="form-group">
										<label for="email" class="control-label">Email</label>
										<input type="text" name="email" value="<%= teacher.email %>" class="form-control" disabled>
									</div>
									<div class="form-group">
										<label for="instrument" class="control-label">Instrument</label>
										<input type="text" name="instrument" value="<%= teacher.instrument %>" class="form-control" disabled>
									</div>
									<div class="form-group">
										<label for="date" class="control-label">Date:</label>
										<input type="datetime-local" name="date" class="form-control">
									</div>
									<div class="form-group">
										<button type="submit" class="form-control btn btn-success">Book</button>
									</div>
                                    <br>
                                </form>
                            </center>
                        </div>
                        <div class="col-md-4"></div>
                </div>
            </div>
			</main> <!-- .main-content -->

		<% include ./partials/footer %>

		</div> <!-- #site-content -->

        <% include ./partials/script-js %>

	</body>

</html>